



template(name="afObjectField_periodEntry")
    .row
        .col-md-4
            +afQuickField(name=this.atts.name)






template(name="afArrayField_maltEntries")
    .panel.panel-default
        ul.list-group
            +afEachArrayItem(name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount)
                li.list-group-item.autoform-array-item
                    .media
                        button.btn.btn-primary.autoform-remove-item.pull-left
                            span.glyphicon.glyphicon-minus
                        .media-body
                            .row
                                .col-md-6
                                    +afQuickField(name="malts.$.name")
                                .col-md-6
                                    +afQuickField(name="malts.$.ebc")
                            .row
                                .col-md-4
                                    +afQuickField(name="malts.$.gravity")
                                .col-md-4
                                    +afQuickField(name="malts.$.price")
                                .col-md-4
                                    +afQuickField(name="malts.$.amount")
                            .row
                                .col-md-4
                                    +afQuickField(name="malts.$.weight")
                                .col-md-4
                                    +afQuickField(name="malts.$.percent" readonly=true)
                                .col-md-4
                                    +afQuickField(name="malts.$.color")
        li.list-group-item
            button.btn.btn-primary.autoform-add-item(data-autoform-field="#{this.atts.name}")
                span.glyphicon.glyphicon-plus


template(name="afArrayField_hopEntries")
    .panel.panel-default
        ul.list-group
            +afEachArrayItem(name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount)
                li.list-group-item.autoform-array-item
                    .media
                        button.btn.btn-primary.autoform-remove-item.pull-left
                            span.glyphicon.glyphicon-minus
                        .media-body
                            .row
                                .col-md-6
                                    +afQuickField(name="hops.$.name")
                                .col-md-6
                                    +afQuickField(name="hops.$.price")
                            .row
                                .col-md-12
                                    +afQuickField(name="hops.$.amount")
                            .row
                                .col-md-6
                                    +afQuickField(name="hops.$.weight")
                                .col-md-6
                                    +afQuickField(name="hops.$.alpha")
                            .row
                                .col-md-6
                                    +afQuickField(name="hops.$.bitterness")
                                .col-md-6
                                    +afQuickField(name="hops.$.boil")

        li.list-group-item
            button.btn.btn-primary.autoform-add-item(data-autoform-field="#{this.atts.name}")
                span.glyphicon.glyphicon-plus


template(name="afArrayField_yeastEntries")
    .panel.panel-default
        ul.list-group
            +afEachArrayItem(name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount)
                li.list-group-item.autoform-array-item
                    .media
                        button.btn.btn-primary.autoform-remove-item.pull-left
                            span.glyphicon.glyphicon-minus
                        .media-body
                            .row
                                .col-md-6
                                    +afQuickField(name="yeast.$.name")
                                .col-md-6
                                    +afQuickField(name="yeast.$.price")
        li.list-group-item
            button.btn.btn-primary.autoform-add-item(data-autoform-field="#{this.atts.name}")
                span.glyphicon.glyphicon-plus
