
template(name="frontpage")

    .row.headline
        h1 Ølbrygging
        h4 

    .row.menu
        
        .new-brew-btn.btn.btn-default Nytt brygg
        .old-brew-btn.btn.btn-default Gammelt brygg
        

    .row.brew-list
        .col-md-6
            h2 Aktive brygg
            table
                thead
                    tr
                        th Tittel
                        th Øltype
                        th Påbegynt
                tbody
                    each activeBrews
                        tr
                            td= title
                            td= type
                            td= dateStarted
        .col-md-6
            h2 Arkiverte brygg

            table
                thead
                    tr
                        th Tittel
                        th Øltype
                        th Vurdering
                        th Påbegynt
                tbody
                    each archivedBrews
                        tr
                            td= title
                            td= type
                            td= rating
                            td= dateStarted
