
template(name="newbrew")
    //+quickForm(collection="Brew" id="insertBrewForm" type="insert")

    .btn.btn-default(onclick="nextPage('frontpage');") Tilbake

    +autoForm(collection="Brew" id="insertBrewForm" type="insert")
        h1 Nytt brygg
        fieldset
            legend Navn og beskrivelse
            .row
                .col-md-4
                    +afQuickField(name="title")
                .col-md-4
                    +afQuickField(name="dateStarted")
                .col-md-4
                    +afQuickField(name="type")
            .row
                .col-md-12
                    +afQuickField(name="description" rows="6")

        fieldset
            legend Batch informasjon
            .row
                .col-md-6
                    +afQuickField(name="volume")
            //
                .col-md-6
                     +afQuickField(name="meshWater")
                .row
                    .col-md-2
                        +afQuickField(name="firstMesh")
                    .col-md-2
                        +afQuickField(name="secondMesh")
                    .col-md-2
                        +afQuickField(name="rinsing")
                    .col-md-2
                        +afQuickField(name="washing")
                    .col-md-2
                        +afQuickField(name="boilStart")



        fieldset
            legend Ingredienser
            h4 Malt
            .row
                .col-md-12
                    +afArrayField(name="malts")
            h4 Humle
            .row
                .col-md-12
                    +afArrayField(name="hops")
            h4 Gjær
            .row
                .col-md-12
                    +afArrayField(name="yeast")


        fieldset
            legend Verdier
            .row
                .col-md-4
                    +afQuickField(name="measuredOg" readonly=true step="any")
                .col-md-4
                    +afQuickField(name="measuredFg" readonly=true step="any")
                .col-md-4
                    +afQuickField(name="bitterness" readonly=true step="any")
            .row
                .col-md-6
                    +afQuickField(name="alcohol" readonly=true step="any")
                .col-md-6
                    +afQuickField(name="priceEach" readonly=true step="any")



        button(type="submit" class="btn btn-primary btn-lg") Lagre nytt brygg